<div>
	<div class="col-10 offset-1 card card-dark alignC">
		<h2>Events</h2>
		<div class="spinner-border text-warning" *ngIf="!events" role="status">
		  <span class="sr-only">Loading...</span>
		</div>
		<app-event
			*ngFor="let event of events"
			[events]="events"
			[event]="event">
		</app-event>
		<hr>
		<h2>Status</h2>
		<div class="form-group">
			<input type="text" class="form-control limit-width" id="ticket_status" placeholder="Ticket ID i.e 1340" value=""/>
			<br>
			<button type="submit" class="btn btn-dark" (click)='checkStatus()'>Check Status</button>
		</div>
		<hr>
		<h2>Redeem</h2>
		<div class="form-group">
			<input type="text" class="form-control limit-width" id="ticket_redeem" placeholder="Ticket ID i.e 1340" value=""/>
			<br><button type="submit" class="btn btn-dark" (click)='redeemTicket()'>Redeem</button>
		</div>
	</div>
</div>
<router-outlet></router-outlet>